
# sensitive info
./data-agent/env
# sensitive info
.env
data-agent/.env
.env.*

#python store artifacts
__pycache__/
*.py[cod]
*$.py.class
venv/
.venv/

#local data submit 
*.csv
*.png
*.html
.temp/
